<div id="tutorial3" class="popup_container">
    <div class="arrow arrow_bottom_left"></div>
    <div class="popup_content">
        <h3>Realizar a aposta</h3>
        <p>
        Com a cor e valor da aposta definidos, apenas basta clicar nesse botão
        para realizar a aposta.
        </p>
        <p>
        <b>OBS</b>: A aposta apenas é registrada se estiver escrito 'Esperando apostas' no
        painel da roleta.
        </p>
        <button class="close_popup" onclick="cleanTutorials()">Fechar</button>
    </div>
</div>