<div id="tutorial2" class="popup_container">
    <div class="arrow arrow_bottom_left"></div>
    <div class="popup_content">
        <h3>Valor da aposta</h3>
        <p style="text-align: justify;">
        Defina quanto dinheiro você quer apostar. Se sua cor for
        rodada, você recebe o dinheiro apostado multiplicado pelo multiplicador da cor (x2 para 
        <span style="color: red;">vermelho</span>/<span style="color: black;">preto</span> e x14 para <span style="color: white;">branco</span>), 
        caso contrário, você perde todo o dinheiro apostado.
        </p>
        <button class="close_popup" onclick="showPopup('tutorial3', 'div_submit', false)">Próximo</button>
    </div>
</div>