<div id="tutorial11" class="popup_container">
    <div class="arrow arrow_top_left"></div>
    <div class="popup_content">
        <h3>Roleta</h3>
        <p style="text-align: justify;">Esse é o painel da roleta, controlada pelo cassino.<br>
            Nele é possível ver em qual estado a roleta está:
            <ul style="text-align: justify;">
                <li>Esperando apostas: É mostrado o texto 'Esperando apostas'.</li>
                <li>Rolando a roleta: É mostrado o texto 'Rolando...'.</li>
                <li>Roleta rodada: A cor do painel muda para a cor que foi rolada.</li>
            </ul>
        </p>
        <button class="close_popup" onclick="showPopup('tutorial12', 'div_cassino_balance', true, -30)">Próximo</button>
    </div>
</div>